/* Default/Desktop */
html {
  font-size: 16px; /* 1rem = 16px */
}
/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
/* Phones */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
     background-color: #1a0a00; /* HSL 5% */
     font-family: "Trebuchet MS", Tahoma, sans-serif;
     color: #ff7d25;
}

header {
    background-color: #ff7d25;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #1a0a00;
}

nav {
    background-color: #572300;
    padding: 10px;
    gap: 20px;
    justify-content: space-between;
}

nav h2 {
	margin: 0;
	padding: 0;
	margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: bold;
}

main {
    padding: 0 20px;
    text-align: left;
}

footer {
    background-color: #ff7d25;
    color: #1a0a00;
    text-align: left;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
footer h2 {
    color: #1a0a00;
}

a {
  display: inline-block; /* buttonifies it */
  padding: 8px 8px; /* inside space */
  background-color: #bd4b00;
  color: #ffefe5; /* 95% */
  font-family: "Trebuchet MS", Tahoma, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px; /* for rounded corners */
  transition: background-color 0.2s ease-out; /* Smooth color change */
}
a:hover {
  background-color: #572300; /* HSL 17% */
}
a:active {
  transform: scale(0.95);
}

.indent {
    text-indent: 1rem;
}

/* Big Titles */
h1 {
	color: #ffefe5;
	text-align:center;
	font-size: 3rem;
 	}
/* Section Headers */
h2 {
	color: #bd4b00;
	text-align:left;
	font-size: 1.5rem;
	text-decoration: underline;
 	}
/* Normal Paragraph Information */
p {
  	color: #ffefe5; /* HSL 95% */
	text-align:justify;
	font-size: 1rem;
	font-weight: normal;
 	}
