  /* Default/Desktop */
html {
  font-size: 16px; /* 1rem = 16px */
}
/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* Shrinks all rem-based fonts */
  }
}
/* Phones */
@media (max-width: 480px) {
  html {
    font-size: 12px; /* Even smaller for small screens */
  }
}

body {
  background-color: #1a0a00; /* HSL 5% */
}
/* Big Titles */
h1 {
		font-family: "Trebuchet MS", Tahoma, sans-serif;
  	color: #ff7d25; /* OW Orange */
		text-align:center;
		font-size: 3rem;
 	}
/* Section Headers */
h2 {
		font-family: "Trebuchet MS", Tahoma, sans-serif;
  	color: #ff7d25;
		text-align:left;
		font-size: 1.5rem;
 	}
/* Normal Paragraph Information */
p {
		font-family: "Trebuchet MS", Tahoma, sans-serif;
  	color: #ffefe5; /* HSL 95% */
		text-align:justify;
		font-size: 1rem;
 	}
